@import '../base/_variaveis'
@import '../base/_mixins'

.cabecalho-navbar
    @include flexbox($justify:space-around)
    padding: .5rem 3rem

    img
        width: 250px
    &-lista
        @include flexbox( $align: center)
        gap: 1rem
        list-style-type: none
        margin-right: 1rem
        li
            font-size: $texto
            color:$cinza-medio
            @include flexbox
            
            align-items: bottom
            a
                text-decoration: none
                color: $cinza-medio
            
                

