@import '../base/_variaveis'
@import '../base/_mixins'
.produtos
    @include flexbox($direction:column)
    align-items: center
    gap: $gap-xxl
    h2
        padding: $padding-xl
        font-size: $h4
        color: $marrom-escuro
        margin-top: 3rem
    .produto-container
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: $gap-xxl
        .produto
            @include flexbox($direction:column)
            width: 100%
            height: 100%
            gap: $gap-xl

            img
                width: 300px
                height: 290px
            h3
                font-size: $h5
                color: $marrom-escuro


